.services {
    padding: 5rem 3rem 0 3rem;
    display: flex;
    height: 80vh;
}

.awesome-txt {
    display: flex;
    flex-direction: column;
}

.awesome-txt>:nth-child(1) {
    font-size: 2.5rem;
    font-weight: bold;
}

.awesome-txt>:nth-child(2) {
    font-size: 2.5rem;
    font-weight: bold;
}

.txt-light>:nth-child(2) {
    color: var(--orange);
}

.txt-dark>:nth-child(2) {
    color: var(--nightPurple);
}

.awesome-txt>:nth-child(3) {
    font-size: .8rem;
    font-weight: 100;
    color: var(--gray);
    margin-top: 2rem;
}

.s-cards {
    position: relative;
}

.s-cards>* {
    position: absolute;
}

.s-cards>div:nth-child(1) {
    left: 35rem;
}

.s-cards>div:nth-child(2) {
    left: 8rem;
    top: 13rem;
}

.s-button {
    width: 8rem;
    height: 2rem;
    margin-top: 2rem;
}

.s-blur1 {
    top: 51rem;
    left: 48rem;
}

@media screen and (max-width:480px) {
    .services {
        display: flex;
        flex-direction: column;
        margin-top: 10rem;
        height: 125vh;
        gap: 3rem;
    }

    .s-cards {
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 18rem;
    }
    .s-cards>*{
        position: static;
    }
}