.card {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: .5rem 26px 1rem 26px;
    gap: 1rem;
    align-items: center;
    background-color: rgba(214, 214, 214, 0.346);
    text-align: center;
    height: 13rem;
    width: 10rem;
    border-radius: 1rem;
    box-shadow: var(--boxshadow);
}

.card-dark {
    border: 5px solid var(--purpleCard);
}

.card-light {
    border: 5px solid var(--orangeCard);
}

.card>img {
    margin-top: 1rem;
    width: 4rem;
    aspect-ratio: 3/2;
    object-fit: contain;
}

.card>span:nth-of-type(2) {
    color: var(--gray);
    font-size: 16px;
}

.c-button {
    border: none;
    padding: .5rem 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 0.3rem;
}

.c-btn-light {
    box-shadow: 0px 0px 5px 0px yellow;
    color: orange;
}
.c-btn-dark {
    box-shadow: 0px 0px 5px 0px rgb(158, 54, 238);
    color: var(--nightPurple);
}

.c-btn-light:hover {
    color: yellow;
}
.c-btn-dark:hover {
    color: purple;
}