.nav-wrapper {
    display: flex;
    height: 10vh;
    justify-content: space-between;
    position: sticky;
}

.nav-left,
.nav-right {
    display: flex;
    flex: 1;
    align-items: center;
}

.nav-left {
    gap: 2rem;
}

.nav-brand {
    font-weight: bold;
    font-size: 1.3rem;

}

.nav-right {
    justify-content: center;
    font-weight: 400;
}

.nav-list {
    flex: 10;
}

.nav-list>ul {
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
    justify-content: flex-end;
    list-style: none;
}

.nav-list>ul>*>li:hover {
    cursor: pointer;
}

.nav-l-light>ul>*>li:hover {
    color: var(--orange);
}

.nav-l-dark>ul>*>li:hover {
    color: var(--nightPurple);
}

.nav-button {
    margin-left: .5rem;
    margin-right: .5rem;
}

@media screen and (max-width:480px) {
    .nav-left {
        display: flex;
        justify-content: space-between;
    }

    .nav-right {
        display: none;
    }

    .floating-div:nth-of-type(1) {
        top: -7rem !important;
    }
}