.i-wrapper {
    display: flex;
    height: 77vh;
    margin-top: 5rem;
}

.i-left {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
}

.i-name {
    display: flex;
    flex-direction: column;
}

.i-name>:nth-child(1) {
    font-weight: bold;
    font-size: 3rem;
}


.i-name>:nth-child(2) {
    font-weight: bold;
    font-size: 3rem;
}

.i-n-light>:nth-child(2) {
    color: var(--orange);
}

.i-n-dark>:nth-child(2) {
    color: var(--nightPurple);
}

.i-name>:nth-child(3) {
    color: var(--gray);
    font-weight: 100;
    font-size: 14px;
    margin-top: 10px;
}

.i-button {
    width: 6rem;
    height: 2rem;
}

.i-icon {
    position: absolute;
    top: 18rem;
    left: 1rem;
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 3rem;
}

.i-icon>* {
    transform: scale(2.5);
    transition: ease-in-out 300ms;
}

.i-icon>*:hover {
    transform: scale(2.3);
    cursor: pointer;
}

.i-right {
    flex: 1;
    position: relative;
}

.i-right>* {
    position: absolute;
    z-index: 1;
}
.i-right>:nth-child(1) {
    transform: scale(0.79);
    left: -2rem;
    top: -5.6rem;
}

.i-right>:nth-child(2) {
    transform: scale(.45);
    left: -45%;
    top: -55%;
}

.i-right>:nth-child(3) {
    transform: scale(0.79);
    left: -2rem;
    top: -5.6rem;
}
.i-r-dark>:nth-child(3){
    z-index: -1;
}

.i-right>:nth-child(4) {
    transform: scale(1.4);
    left: 28%;
}

.i-right>:nth-child(5) {
    top: -6%;
    left: -24%;
    border-radius: 50%;
    padding: 0px;
}

.blur {
    position: absolute;
    width: 22rem;
    height: 20rem;
    border-radius: 50%;
    background: #edd0ff;
    z-index: -9;
    filter: blur(141px);
}

.blur1 {
    top: -15%;
    left: 63%;
}

.blur2 {
    top: 21%;
    left: -18%;
}