.footer{
    display: flex;
    align-items: center;
    margin: -7rem -3.5rem -0.5rem -3.5rem;
    position: relative;

}
.footer>img{
    width: 100%;
}

.f-content{
    margin-top: 8rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 4rem;
}
.f-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 4rem;
}
.f-content>span{
    color: white;
}
.f-dark>a:hover{
    filter: drop-shadow(-5px 5px 4px #3E428C );
}
.f-light>a:hover{
    filter: drop-shadow(-5px 5px 4px #da911b );
}

@media screen and (max-width:480px){
    .footer{
        margin-top: 3rem;
    }
    .footer>img{
        width: auto;
        height: 50vh;
    }
}

