.contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5rem;
    position: relative;
    height: 60vh;
}

.c-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    flex:1;
}

.c-left>:nth-child(1) {
    font-size: 2.5rem;
    font-weight: bold;
}

.c-left>:nth-child(2) {
    color: var(--orange);
    font-size: 3rem;
    font-weight: bold;
}

.c-right {
    display: flex;
    flex-direction: column;
    gap: 2rem ;
    text-align: center;
    justify-content: center;
    flex: 1;
}

.c-right>form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.user {
    width: 20rem;
    height: 2rem;
    font-family: sans-serif;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding: 0.3rem;
    box-shadow: 0px 0px 10px 0px var(--orange);
}

.c-button {
    width: 5rem;
}
.user-message{
    height: 5rem;
}
.c-blur{
    position: absolute;
    top: 10rem;
    left: 34rem;
}

@media screen and (max-width:480px){
    .contact{
        margin-top: 6rem;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 5rem;
    }
    .c-blur{
        display: none;
    }
}